body {
	font-family: 'Roboto', sans-serif;
	background: #355c7d; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #c06c84, #6c5b7b, #355c7d); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#c06c84,
		#6c5b7b,
		#355c7d
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#container {
	background: #f7f7f7;
	width: 360px;
	/* Center the container: */
	margin: 100px auto; /* box-shadow */
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	border: 3px solid rgba(0, 0, 0, 0); /*this is optional*/
}
h1 {
	background: #6c5b7b;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: normal;
}
.fa-edit {
	float: right;
}
input {
	font-size: 18px; /* background-color: #f7f7f7; */
	color: #6c5b7b;
	background: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	border: 3px solid rgba(0, 0, 0, 0); /* fill the gap of h1 and ul */
}
input:focus {
	background: #fff;
	border: 3px solid #6c5b7b;
	/* no default highlight from browser: */
	outline: none;
}
ul {
	/* getting rid of bullet points from <ul>*/
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	background: #fff;
	height: 40px; /* to strech: */
	line-height: 40px;
	color: #666;
}
/* Animation of span - default stage */
li span {
	background: #c06c84;
	height: 40px;
	margin-right: 20px;
	color: white;
	text-align: center;
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}
/* Animation of span - trash */
li:hover span {
	width: 40px;
	opacity: 1.0; /* transition: 500ms; */
}
/* every 2nd li to be a different color: */
li:nth-child(2n) {
	background: #f7f7f7;
}
/* Style used to toggle when a task is done or not */
.done {
	color: gray;
	text-decoration: line-through;
}
